<div class="btn-group mt-4" style="width:100%"
  role="group" aria-label="Basic example">
  <button type="button" class="btn">
    <i class="fas fa-heart"></i>
  </button>
  <button type="button" class="btn">
    <i class="far fa-thumbs-up"></i>
  </button>
  <button type="button" class="btn">
    <i class="far fa-smile"></i>
  </button>
  <button type="button" class="btn">
    <i class="far fa-frown"></i>
  </button>
</div>

<div class="btn-group mb-4" style="width:100%"
  role="group" aria-label="Basic example">
  <button type="button" id="heart"
    class="btn btn-lg">
    <%= @nhearts %>  
  </button>
  <button type="button" id="like"
    class="btn btn-lg">
    <%= @nlikes %>
  </button>
  <button type="button" id="smile"
    class="btn btn-lg">
    <%= @nhappies %>
  </button>
  <button type="button" id="frown"
    class="btn btn-lg">
    <%= @nfrowns %>
  </button>
</div>

<div class="card" >
  <div class="card-body text-center">
    <h3 class="text-danger">Gracias por su voto :D</h3>
  </div>
</div>